<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="PlainElastic.Net" version="1.0.43" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net45" />
</packages>